.design {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1593px;
  height: 995px;
  z-index: 51;
}
.instructions {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1593px;
  height: 995px;
  z-index: 50;
}
.Click_this_button {
  font-size: 24px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  font-weight: bold;
  line-height: 1.5;
  text-align: center;
  -moz-transform: matrix( 1.21291377841201,0,0,1.21291377841201,0,0);
  -webkit-transform: matrix( 1.21291377841201,0,0,1.21291377841201,0,0);
  -ms-transform: matrix( 1.21291377841201,0,0,1.21291377841201,0,0);
  position: absolute;
  left: 688.288px;
  top: 476px;
  z-index: 49;
}
.Ellipse_1_copy {
  background-color: rgb(128, 128, 128);
  opacity: 0.8;
  position: absolute;
  left: 603px;
  top: 301px;
  width: 392px;
  height: 392px;
  z-index: 48;
}
.quoteDisplay {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1593px;
  height: 995px;
  z-index: 46;
}
._I_am_a_random_quote___click_here_or_on_this_bu {
  font-size: 24px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  line-height: 1.5;
  position: absolute;
  left: 652px;
  top: 457.608px;
  z-index: 45;
}
.Random_Author {
  font-size: 12px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  font-style: italic;
  line-height: 3.001;
  position: absolute;
  left: 842.562px;
  top: 556.994px;
  z-index: 44;
}
.border_white {
  border-width: 1.5px;
  border-color: rgb(255, 255, 255);
  border-style: solid;
  border-radius: 50%;
  position: absolute;
  left: 602px;
  top: 300px;
  width: 391px;
  height: 391px;
  z-index: 43;
}
.Ellipse_1 {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 70deg, rgba(37,95,179,0) 0%, rgb(60,118,202) 100%);
  background-image: -webkit-linear-gradient( 70deg, rgba(37,95,179,0) 0%, rgb(60,118,202) 100%);
  background-image: -ms-linear-gradient( 70deg, rgba(37,95,179,0) 0%, rgb(60,118,202) 100%);
  position: absolute;
  left: 590px;
  top: 289px;
  width: 417px;
  height: 416px;
  z-index: 42;
}
.share {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1593px;
  height: 995px;
  z-index: 40;
}
.default {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1593px;
  height: 995px;
  z-index: 39;
}
.Ellipse_1_copy_2 {
  border-radius: 50%;
  background-color: rgb(0, 191, 243);
  position: absolute;
  left: 460px;
  top: 516px;
  width: 84px;
  height: 84px;
  z-index: 36;
}
.shareicon_onclick__displayIcons___ {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1593px;
  height: 995px;
  z-index: 34;
}
.google_ {
  background-image: url("google+.png");
  position: absolute;
  left: 366px;
  top: 631px;
  width: 86px;
  height: 86px;
  z-index: 33;
}
.pinterest {
  background-image: url("pinterest.png");
  position: absolute;
  left: 243px;
  top: 607px;
  width: 86px;
  height: 86px;
  z-index: 32;
}
.deviant_art {
  background-image: url("deviant art.png");
  position: absolute;
  left: 243px;
  top: 301px;
  width: 86px;
  height: 86px;
  z-index: 31;
}
.behance {
  background-image: url("behance.png");
  position: absolute;
  left: 366px;
  top: 267px;
  width: 86px;
  height: 86px;
  z-index: 30;
}
.instagram {
  background-image: url("instagram.png");
  position: absolute;
  left: 329px;
  top: 516px;
  width: 85px;
  height: 85px;
  z-index: 29;
}
.facebook {
  background-image: url("facebook.png");
  position: absolute;
  left: 329px;
  top: 392px;
  width: 85px;
  height: 85px;
  z-index: 28;
}
.generate_button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1593px;
  height: 995px;
  z-index: 25;
}
.Q {
  font-size: 72px;
  font-family: "Segoe UI";
  color: rgb(255, 255, 255);
  line-height: 0.5;
  -moz-transform: matrix( 1.36405868092562,0,0,1.36405868092562,0,0);
  -webkit-transform: matrix( 1.36405868092562,0,0,1.36405868092562,0,0);
  -ms-transform: matrix( 1.36405868092562,0,0,1.36405868092562,0,0);
  position: absolute;
  left: 989.5px;
  top: 729.803px;
  z-index: 24;
}
.Ellipse_1_copy_3 {
  border-radius: 50%;
  background-image: -moz-linear-gradient( 70deg, rgb(245,84,21) 0%, rgba(245,84,21,0.99) 99%, rgb(245,84,21) 100%);
  background-image: -webkit-linear-gradient( 70deg, rgb(245,84,21) 0%, rgba(245,84,21,0.99) 99%, rgb(245,84,21) 100%);
  background-image: -ms-linear-gradient( 70deg, rgb(245,84,21) 0%, rgba(245,84,21,0.99) 99%, rgb(245,84,21) 100%);
  position: absolute;
  left: 952px;
  top: 650px;
  width: 127px;
  height: 127px;
  z-index: 23;
}
