/*.display-background {
 
  /*position: absolute;
    align-items: center;
    left: 591px;
    top: 289px;
    width: 416px;
    height: 416px;
    z-index: 73;
}*/

.display-border {
  position: absolute;
  left: 602px;
  top: 300px;
  width: 394px;
  height: 394px;
  z-index: 74;
}

